#container {
    width: 380px;
    height: 530px;
    border: 2px solid white;
    margin-left: calc(50% - 380px / 2);
    margin-top: calc(38vh - 500px / 2);
}

#title-name {
    text-align: center;
    font-size: 50px;
    border: 1px solid white;
}

#tictactoe-title {
    color: #FFF;
    font-style: italic;
}

table th {
    width: 100%;
    height: 451px;
    border: 1px solid white;    
}

td{
    cursor: pointer;
    border: 1px solid white;
    width: calc(380px / 3);
    height: calc((500px - 59.45px) / 3);
    margin: 0px;
    
}

td:hover{
    background-color: rgb(248, 151, 4);
    background-image: url("pictures/naruto.png");
    background-size: calc(380px / 3) calc((500px - 59.45px) / 3);
}

#cross {
    width: 100%;
    height: 100%;
}

#circle {
    width: 100%;
    height: 100%;
}


div #player-name {
    margin-left: calc(58% - 380px / 2);
    margin-top: calc(40vh - 548px / 2);
    font-size: 46px;
    color: #FFF;
    color: #a272e0;
}

body {
    background-image: url("pictures/background.jpg");
    user-select: none;
    background-size: contain;
}


.utility-buttons {
    margin-left: calc(45% - 253px / 2);
    margin-top: 16px;
    position: absolute;
}

#reset-game {
    margin-left: 63px;
}

.utility-buttons button {
    background-color: white; 
    color: black; 
    border: 2px solid black;
    transition-duration: 0.4s;
    padding: 12px 28px;
    font-size: 16px;
}

.utility-buttons button:hover {
    background-color: rgb(248, 151, 4);
    color: white;
}


